<!DOCTYPE html>
<html>
<head>
    <!-- This sets your page title. You can change this to whatever you want! -->
    <title>Aerospace Jam Example</title>
    <!-- The below script tag is used to load socket.io from the server. -->
    <!--{{ url_for('static', filename='styles.css') }}-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>
<body>
<style>
    table {
    border-collapse: collapse;
    margin-bottom: 25px;
    }
    table, td {
        border: 3px solid black;
        padding: 5px;
        font-size: 20px;
    }
    .table-header {
        text-align: center;
        font-weight: bold;
    }
    p {
        margin-bottom: 10px;
        font-size: 25px;
    }
    h1 {
        font-size: 50px;
        font-weight: bold;
    }
    .button {
        border-radius: 5px;
        border-color: black;
        border-width: 2px;
        margin-bottom: 10px;
        padding: 2px;
    }
    .button:hover {
        background-color: rgb(215, 215, 215);
    }
    .button:active {
        background-color: rgb(200, 200, 200);
    }
    #tablesDiv {
        padding-top: 20px;
        padding-bottom: 20px;
    }
</style>
    <h1>Aerospace Jam Example</h1>
    <!-- Notice how the span that contains the placeholder value has an ID. We reference this ID later in the script, and it lets us pick this element in specific. -->
    <p><b>Barrometric Pressure: </b> <span id="barometricPressure">Loading...</span></p>
    <p><b>Temperature: </b> <span id="temperature">Loading...</span></p>
    <p><b>Altitude: </b> <span id="altitude">Loading...</span></p>

    <p><b>Clipped Pressure: </b> <span id="clippedPressure"></span></p>
    <button id="clipButton", class="button">Clip Pressure</button>
    <div id="tablesDiv">
        <table id="rawAccelTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Raw Accelerometer Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
        <table id="linAccelTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Linear Acceleration Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
        <table id="velTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Velocity Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
        <table id="posTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Position Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
        <table id="rawGyroTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Raw Gyroscope Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
        <table id="orientationTable">
            <tr>
                <td colspan="3" class="table-header">
                    <b>Orientation Data</b>
                </td>
            </tr>
            <tr>
                <td>X: <span>Loading...</span></td>
                <td>Y: <span>Loading...</span></td>
                <td>Z: <span>Loading...</span></td>
            </tr>
        </table>
    </div>
    <script>
        // This function wrapper (addEventListener) makes the inner contents run only when the DOM (Document Object Model) content is loaded.
        // In simpler terms, this runs once the page has finished loading.
        document.addEventListener('DOMContentLoaded', function() {
            // Then, we connect to our webserver using two special variables - you don't need to worry about this either.
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // Now, we subscribe to the server's "update_data" events - this is sent every second by the background thread, but you can change both the events' names and the speed of these events being sent.
            socket.on('update_data', function(msg) {
                var barometricPressure = msg.barometricPressure;    // measured in pascals
                var temperature = msg.temperature;                  // measured in degrees celsius
                var altitude = msg.altitude;                        // measured in meters
                var rawAcceleration = msg.rawAcceleration;          // measured in m/s^2
                var linearAcceleration = msg.linearAcceleration;    // measured in m/s^2
                var velocity = msg.velocity;                        // measured in m/s
                var position = msg.position;                        // measured in meters
                var rawGyroscope = msg.rawGyroscope;                // measured in degrees/s
                var orientation = msg.orientation;                  // measured in degrees

                var barometricPressureSpan = document.getElementById('barometricPressure');
                var temperatureSpan = document.getElementById('temperature');
                var altitudeSpan = document.getElementById('altitude');
                var rawAccelTable = document.getElementById('rawAccelTable');
                var linAccelTable = document.getElementById('linAccelTable');
                var velTable = document.getElementById('velTable');
                var posTable = document.getElementById('posTable');
                var rawGyroTable = document.getElementById('rawGyroTable');
                var orientationTable = document.getElementById('orientationTable');

                barometricPressureSpan.textContent = barometricPressure;
                temperatureSpan.textContent = temperature;
                altitudeSpan.textContent = altitude;

                for (var i = 0; i < 3; i++){ // loop through x, y, z
                    rawAccelTable.rows[1].cells[i].querySelector("span").textContent = rawAcceleration[i];
                    linAccelTable.rows[1].cells[i].querySelector("span").textContent = linearAcceleration[i];
                    velTable.rows[1].cells[i].querySelector("span").textContent = velocity[i];
                    posTable.rows[1].cells[i].querySelector("span").textContent = position[i];
                    orientationTable.rows[1].cells[i].querySelector("span").textContent = orientation[i];
                    rawGyroTable.rows[1].cells[i].querySelector("span").textContent = rawGyroscope[i];
                }
            });
            var clipPressure = document.getElementById("clipButton");
            clipPressure.addEventListener("click", function() {
                socket.emit('clip_pressure', {});
            });
            socket.on('update_pressure', function(msg) {
                var pressureClipSpan = document.getElementById("clippedPressure");
                pressureClipSpan.textContent = msg.pressure;
            });
        });
    </script>
</body>
</html>